%h2 All Movies

%table#movies
  %thead
    %tr
      %th{:class=> (@hint == 'title' ?"hilite" : "")}= link_to( "Movie Title", "/movies?sort=title" , {:id=>"title_header" })
      %th Rating 
      %th{:class=> (@hint == 'date' ?"hilite" : "")}= link_to "Release Date", "/movies?sort=date", {:id=>"release_date_header"}
      %th More Info
  %tbody
    - @movies.each_with_index do |movie,count|
      %tr{:class => oddness(count)}
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie

%ul#page_nav
  %li= link_to 'Add New Movie Manually', new_movie_path

